<div class="banner">
  <div class="banner-content">
    <h1>Pretty Cocktails</h1>
    <div class="fixed-block">
      <h2 id="typed-text"></h2>
    </div>
    <%= link_to "Create cocktail", new_cocktail_path, class: 'btn new-button' %>
  </div>
</div>

<div class="card-wrapper">
  <div class="container">
    <div class="row">

      <% @cocktails.reverse.each do |cocktail| %>

      <%= link_to cocktail_path(cocktail.id) do %>

      <div class="col-xs-6 col-sm-4 col-md-3 nopadding">
        <div class="cocktail-card"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
        url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill if cocktail.photo %>')">

        <p class="card-title">
          <%= cocktail.name %>
        </p>
        <p>
          <%= link_to edit_cocktail_path(cocktail) do %>
            <i class="far fa-edit edit"></i>
          <% end %>
        </p>
        <p>
          <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fas fa-trash-alt bin"></i>
          <% end %>
        </p>
        </div>
      </div>

        <% end %>

        <% end %>

    </div>
  </div>
</div>


